$link-color: #8a8077;
$link-hover-color: lighten($link-color, 30%);
$light-link-color: #d0d2d0;
$light-link-hover-color: lighten($light-link-color, 30%);
$footer-link-color: #494a45;
$footer-link-hover-color: lighten($footer-link-color, 30%);
$portrait-width: 540px;