@import 'typography';
@import 'variables';
@import 'mixins';

html, body {
	font-family: 'avenir-book', Arial, sans-serif;
	height: 100%;
}

body {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
}

.map {
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	@include bg-image('../img/map_desk.jpg', '../img/map_desk@2x.jpg');
	@include bg-image-portrait('../img/map_mobile.jpg', '../img/map_mobile@2x.jpg');
}

.fade-in {
	opacity: 0;
	transition: opacity 1s 1.5s ease;
}

@import 'partials/header';
@import 'partials/circle';
@import 'partials/footer';