@import 'typography';
@import 'variables';
@import 'mixins';

html, body {
	font-family: 'avenir-book', Arial, sans-serif;
	height: 100%;
}

body {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
}

.map {
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	@include bg-image('../img/map_desk.jpg', '../img/map_desk@2x.jpg');
	@include bg-image-portrait('../img/map_mobile.jpg', '../img/map_mobile@2x.jpg');
}

.fade-in {
	opacity: 0;
	transition: opacity 1s 1.5s ease;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 15px;

	@media only screen and (max-width: $portrait-width) {
		background-color: #000;
	}

	.lr_logo {
		background-size: 57px 28px;
		display: block;
		height: 28px;
		width: 57px;
		@include bg-image('../img/lr_logo.png', '../img/lr_logo@2x.png');
	}

	.hashtag {
		color: $link-color;
		margin-left: 15px;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 1s ease;

		@media only screen and (max-width: $portrait-width) {
			margin: 0 auto;
		}

		&:hover {
			color: lighten($link-hover-color, 25%);
		}
	}

	.responsive-menu {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 15px 12px;
		display: none;
		height: 28px;
		width: 57px;
		@include bg-image('../img/responsive_menu.png', '../img/responsive_menu@2x.png');

		@media only screen and (max-width: $portrait-width) {
			display: block;
		}
	}

	.tumblr {
		color: $link-color;
		position: absolute;
		right: 15px;
		text-align: center;
		text-decoration: none;
		top: 0;
		transition: color 1s ease;
		width: 58px;

		@media only screen and (max-width: $portrait-width) {
			display: none;
		}

		&:hover {
			color: $link-hover-color;
		}

		.circle {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 38px;
			height: 58px;
			position: absolute;
			width: 58px;
			top: -29px;
		}

		.socicon {
			margin: 4px auto;
		}

		.text {
			display: block;
			font-size: 0.7rem;
			padding-top: 15px;
			text-transform: uppercase;
		}
	}
}

section {
	align-items: center;
	bottom: 32px;
	display: flex;
	flex-direction: column;
	font-size: 11px;
	justify-content: center;
	min-height: 516px;
	position: absolute;
	text-transform: uppercase;
	top: 58px;
	width: 100%;

	> svg {
		@media only screen and (max-width: $portrait-width) {
			width: 320px;
		}
	}

	article {
		color: $light-link-color;
		height: 144px;
		text-align: center;

		&.presents {
				h3 {
					color: #fff;
					font-family: 'landrover', sans-serif;
					font-size: 26px;
					font-weight: 400;
					margin-bottom: 0;
					margin-top: 56px;
					text-transform: uppercase;

					@media only screen and (max-width: $portrait-width) {
						font-size: 18px;
						margin-top: 84px;
					}
				}
		}

		&.main {
			height: 228px;

			@media only screen and (max-width: $portrait-width) {
				height: 114px;
			}

			> .well-storied {
				background-size: 432px 42px;
				height: 42px;
				margin-top: 74px;
				width: 432px;
				@include bg-image('../img/well_storied.png', '../img/well_storied@2x.png');

				@media only screen and (max-width: $portrait-width) {
					background-size: 216px 21px;
					height: 21px;
					margin-top: 33px;
					width: 216px;
				}
			}

			> p {
				margin-top: 27px;

				@media only screen and (max-width: $portrait-width) {
					margin-top: 13px;
				}
			}
		}

		&.social {
			> p:first-child {
				margin-top: 25px;

				@media only screen and (max-width: $portrait-width) {
					margin-top: 12px;
				}
			}

			> p {
				margin-top: 17px;

				> a {
					color: $light-link-color;
					font-size: 16px;
					margin: 0 8px;
					text-transform: none;

					&:hover {
						color: $light-link-hover-color;
						transition: color 1s ease;
					}
				}
			}
		}
	}

	.circle {
		stroke-dasharray: 1615;
		stroke-dashoffset: 1615;
		animation: dash 1.5s ease forwards;
	}

	@keyframes dash {
		to {
			stroke-dashoffset: 0;
		}
	}

	h1 {
		font-size: 50px;
	}

	hr {
		background-repeat: repeat-x;
		background-size: 4px 2px;
		border: none;
		height: 4px;
		width: 454px;
		@include bg-image('../img/rule_dashed.png', '../img/rule_dashed@2x.png');

		@media only screen and (max-width: $portrait-width) {
			width: 290px;
		}
	}
}

footer {
	bottom: 0;
	height: 32px;
	position: absolute;

	@media only screen and (max-width: $portrait-width) {
		display: none;
	}

	a {
		color: $footer-link-color;
		display: inline-block;
		font-size: 0.5rem;
		padding-bottom: 15px;
		padding-left: 22px;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 1s ease;

		&:hover {
			color: $footer-link-hover-color;
		}
	}
}